body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("https://www.golhen-associes.archi/app/uploads/2021/03/golhen-associes-ecole-centrale-casablanca-p1-alessio-mei.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
}

.portal {
    background: rgba(255, 255, 255, 0.9); /* Fond semi-transparent */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33.333% - 20px);
    min-width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.portal:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.portal h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #34495e;
}

.portal p {
    font-size: 1em;
    color: #7f8c8d;
    margin-bottom: 20px;
}

.portal a {
    display: inline-block;
    padding: 12px 24px;
    background: #3498db;
    color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: background 0.3s, transform 0.3s;
}

.portal a:hover {
    background: #2980b9;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .portal {
        width: 100%;
        max-width: 400px;
    }
}
