body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5;
    color: #333;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4BB543;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
    padding: 10px;
    border-radius: 5px;
}

.content-layout {
    display: flex;
    align-items: stretch; /* Assure que les éléments enfants prennent toute la hauteur */
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Assure que l'image couvre tout l'espace disponible */
}

.candidature-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e3f2fd; /* Fond bleu clair */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    color: #333;
    height: 100%; /* Assure que le formulaire prend toute la hauteur disponible */
}

.candidature-form h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #4BB543;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-control label {
    margin-bottom: 5px;
    color: #4BB543;
}

.form-control input, 
.form-control select, 
.form-control textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    width: 100%;
    background-color: #fff; /* Fond des champs de saisie */
    color: #333;
}

.form-control input:focus, 
.form-control select:focus, 
.form-control textarea:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#soumettre {
    background-color: #4BB543; /* Vert */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}